[*.cs]

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1309.severity=silent

# SA1134: Attributes should not share line
dotnet_diagnostic.SA1134.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1503: Braces should not be omitted
dotnet_diagnostic.SA1503.severity = none

# SA1131: Use readable conditions
dotnet_diagnostic.SA1131.severity = none
dotnet_diagnostic.SA1602.severity=silent
